body
{
    background-image: url("../images/dragonball1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.hidden
{
    display: none;
}

.hidden1
{
    display: none;
}

.hidden3
{
    padding-left: 20px;
}

#footer
{
    display: none;
}

#space
{
    color: red;
}

h2  
{
    color: blue;
}

#guess
{
    width: 500px;
    color: blueviolet;
}