body
{
    background-image: url("../images/dragonball1.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.hidden
{
    display: none;
}

.hidden1
{
    display: none;
}

.hidden3
{
    padding-left: 20px;
}

#footer
{
    display: none;
}

#space8
{
    color: red;
    letter-spacing: 10px;
    font-size: 40px;
}

#space1
{
    color: red;
    letter-spacing: 10px;
    font-size: 40px;
}
#space2
{
    color: red;
    letter-spacing: 10px;
    font-size: 40px;
}
#space3
{
    color: red;
    letter-spacing: 10px;
    font-size: 40px;
}
#space4
{
    color: red;
    letter-spacing: 10px;
    font-size: 40px;
}
#space5
{
    color: red;
    letter-spacing: 10px;
    font-size: 40px;
}
#space6
{
    color: red;
    letter-spacing: 10px;
    font-size: 40px;
}
#space7
{
    color: red;
    letter-spacing: 10px;
    font-size: 40px;
}

h2  
{
    color: blue;
}

#guess
{
    font-size: 40px;
    color: blueviolet;
}